# THE ARTLIST HTTPS service runs in a container named `artlist` from a Docker image named `artlist_image`.

[Unit]
Description=THE ARTLIST HTTPS service
Requires=docker.service
After=docker.service

[Service]
Restart=on-failure
RestartSec=15
ExecStartPre=-/usr/bin/docker kill artlist
ExecStartPre=-/usr/bin/docker rm artlist
ExecStart=/usr/bin/docker run --name=artlist --publish 80:80 --publish 443:443 --volume=/home/core/artlist_storage:/artlist/storage artlist_image
ExecStop=-/usr/bin/docker stop artlist

[Install]
WantedBy=multi-user.target
