body.loading * { visibility: hidden; }

button, input { background: none; border: none; padding: none; margin: none; box-sizing: border-box; }
h1, h2, h3, h4, h5, h6, p, pre, input, ::input-placeholder { font: inherit; }
body, header, footer, section, article, div, h1, h2, h3, h4, h5, h6, p, pre { margin: 0; padding: 0; position: relative; }

a[href] { text-decoration: none; }
a[href]:link { color: black; }
a[href]:visited { color: black; }

pre { display: block; white-space: pre-wrap; }
