@media screen and (max-width: 1199px) {
	body, div.sleeve { width: auto; margin: auto; }

	body, article, pre  { font: 22px/30px "Artlist-Light"; }
	h1                  { font: 32px/80px "Artlist-Title"; letter-spacing: 1px; text-transform: uppercase; text-align: center; }
	h2                  { font: 16px/48px "Artlist-Demi"; letter-spacing: 1px; text-align: center; }
	h4                  { font: 16px/48px "Artlist-Demi"; letter-spacing: 1px; text-transform: uppercase; }
	article header      { font: 22px/30px "Artlist-Light"; }

	div.list.controls   { font: 16px/48px "Artlist-Demi"; letter-spacing: 1px; text-transform: uppercase; }
	input               { font: 16px/48px "Artlist-Demi"; letter-spacing: 1px; }
	button              { font: 16px/48px "Artlist-Demi"; letter-spacing: 1px; text-transform: uppercase; }

	article div.title, article div.time { font-family: "Artlist-Medium"; }

	/* PAGE LAYOUT */

	body > header, div.header_block_in_flow { height: 75px; }

	body > div.intro { height: 0px; }
	body > div.intro.activated { height: 600px; transition: height linear 300ms; }

	body > div.write { height: 0px; }
	body > div.write.activated { height: 600px; transition: height linear 360ms; }

	body > div.list_container { padding-top: 195px; }

	body       div.list.controls { position:absolute; top: 0; left: 0; right: 0; height: 195px; z-index: 1; }
	body.index div.list.controls { position:fixed; top: 75px; }

	/* HEADER */

	h1 { padding: 0px 20px; margin: 0; border-bottom: 1px solid black; height: 74px; }

	/* INTRO */

	/*div.intro p { margin: 20px; }*/
	div.intro div.read_intro { padding: 30px 20px; }
	div.intro div.read_intro p + p { margin-top: 20px; }

	/* POST */

	div.write form {}

	div.write div.select.one.category { display:none; }

	/* LIST CONTROLS */

	div.list.controls div.sleeve { height: 195px; }
	div.list.controls div.rules {
		position: absolute;
		top: -1px; bottom: -1px; left: 0px; right: 0px;
		border-bottom: 1px solid hsl(0, 0%, 33%); border-top: 1px solid hsl(0, 0%, 33%);
	}

	div.list.controls div.search { position: absolute; top: 0px; left: 20px; height: 45px; }
	div.list.controls div.search input { padding: 0px 5px; }

	div.categories { position: absolute; right: 20px; top: 44px; bottom: 44px; left: 20px; border-bottom: 1px dotted black;  border-top: 1px dotted black; }
	div.categories > * { width: 25%; height: 45px; }
	div.categories label { position: absolute; display:block; text-indent: 15px; }
	div.categories svg { position: absolute; height: 20px; width: 20px; top: 12px; left: -5px; }
	div.categories h4               { left: 00%; top: 00px; }
	div.categories label.comedy     { left: 25%; top: 00px; }
	div.categories label.community  { left: 25%; top: 30px; }
	div.categories label.dance      { left: 25%; top: 60px; }
	div.categories label.film       { left: 50%; top: 00px; }
	div.categories label.food       { left: 50%; top: 30px; }
	div.categories label.literature { left: 50%; top: 60px; }
	div.categories label.music      { left: 75%; top: 00px; }
	div.categories label.theatre    { left: 75%; top: 30px; }
	div.categories label.visual_art { left: 75%; top: 60px; }
	div.categories label input { display: none; }

	nav.share { bottom: 0px; left: 20px; height: 45px; }
	nav.intro { bottom: 0px; right: 20px; height: 45px; }

	/* LIST VIEW */

	section.day h2 { height: 44px; border-top: 1px solid black; border-bottom: 1px solid black; margin: -1px 0 0; position: relative; text-align:center; }

	/* ARTICLE */

	article { margin: -1px 20px 0; }
	article.compacted { height: 74px; }
	article.activated { height: auto; }

	article header { height: 75px; }
	article footer { height: 5px; }

	article div.title_and_location { position: absolute; left: 0; top: 0; right: 0; height: 75px; }
	article div.title_and_location > div { position: absolute; height: 25px; }
	article div.title { left: 0; top: 12px; right: 0; text-indent: 20px; }
	article div.location { left: 0; bottom: 12px; right: 0; text-indent: 20px; }
	article div.category { left: -5px; top: 14px; }
	article div.category svg { height: 22px; width: 22px; display: block; margin: 0; position: absolute; }

	article div.time_and_cost { height: 75px; }
	article div.time_and_cost { position: absolute; right: 0;  top: 0; width: 90px; }
	article div.time_and_cost > div { position: absolute; height: 25px; }
	article div.time { right: 0; top: 12px; }
	article div.cost { right: 0; bottom: 12px; }

	article div.description { padding: 0 20px; }
	article div.web_address { padding: 10px 20px; }
	article div.web_address a { text-decoration: underline; }
}
