body.loading * { visibility: hidden; }

body > header { position: fixed; top: 0; left: 0; right: 0; z-index: 1; }
body > header nav > a { display: block; }
div.header_block_in_flow { background: black; }

div.write, div.intro { position: relative; box-sizing: border-box; overflow: hidden; }
div.list_container { position: relative; box-sizing: border-box; }

nav.categories { position: absolute; }
nav.categories > h4, nav.categories > a { position: absolute; }

nav.share { position: absolute; }
nav.intro { position: absolute; }

section.day h2 { position: relative; border-top: 1px solid black; border-bottom: 1px solid black; }

article { overflow: hidden; border-top: 1px dotted black; border-bottom: 1px dotted black; }

article div.title, article div.location, article div.cost, article div.time { white-space: nowrap; }

article div.category { position: absolute; left: -5px; top: 20px; height: 20px; }
article div.category svg { height: 20px; width: 20px; display: block; margin: 0; position: absolute; }

article div.title_and_location { position: absolute; left: 0; top: 0; }
article div.title_and_location > div { display: inline-block; }

article div.time_and_cost { position: absolute; right: 0; top: 0; }
article div.time_and_cost > div { display: inline-block; }

body > footer img { display:block; margin: auto; padding: 20px; }

body > footer, body > footer * { font: 16px/22px "Artlist-Light"; }
body > footer input { font-family: "Artlist-Bold"; }

body > footer div.editor.controls { background: hsl(0, 0%, 88%); height: 0px; overflow: hidden;  }
body > footer div.editor.controls.activated { height: 88px; }

body         > footer form.open.session { height: 88px; margin-top: 0px; transition: margin-top 333ms ease-out; }
body.editing > footer form.open.session { margin-top: -88px; transition: margin-top 333ms ease-out; }
body > footer label { display:block; padding: 22px; text-align: center; }
body > footer input.secret_phrase { display: block; width: 400px; height: 28px; margin: 0 auto 0; text-align: center; padding: 4px 0; background: white; border: 1px solid hsla(0, 0%, 0%, 0.33); }
body > footer input.secret_phrase:disabled { background: transparent; color: hsla(0, 0%, 0%, 0.33); }

body > footer div.session { text-align: center; padding: 22px; }
body > footer a.exit { text-decoration: underline; cursor: pointer; }


@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-15px, 0, 0);
    -ms-transform: translate3d(-15px, 0, 0);
    transform: translate3d(-15px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(15px, 0, 0);
    -ms-transform: translate3d(15px, 0, 0);
    transform: translate3d(15px, 0, 0);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-15px, 0, 0);
    -ms-transform: translate3d(-15px, 0, 0);
    transform: translate3d(-15px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(15px, 0, 0);
    -ms-transform: translate3d(15px, 0, 0);
    transform: translate3d(15px, 0, 0);
  }
}

input.unacceptable {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
