@media screen and (max-width: 1199px) {
	body, div.sleeve { width: auto; margin: auto; }

	body                { font: 22px/30px "Artlist-Medium";  }
	h1                  { font: 32px/80px "Artlist-Title"; letter-spacing: 1px; text-transform: uppercase; text-align: center; }
	div.list.controls   { font: 16px/48px "Artlist-Demi"; letter-spacing: 1px; text-transform: uppercase; }
	h4                  { font: 16px/48px "Artlist-Demi"; letter-spacing: 1px; text-transform: uppercase; }
	input               { font: 16px/48px "Artlist-Demi"; letter-spacing: 1px; }
	button              { font: 16px/48px "Artlist-Demi"; letter-spacing: 1px; text-transform: uppercase; }
	section.day h2      { font: 16px/48px "Artlist-Demi"; letter-spacing: 1px; text-align: center; }
	article             { font: 22px/30px "Artlist-Light"; }
	article div.title   { font: 22px/30px "Artlist-Medium"; }
	article div.time    { font: 22px/30px "Artlist-Medium"; }

	/* PAGE LAYOUT */

	body > header, div.header_block_in_flow { height: 75px; }

	body > div.intro { height: 0px; }
	body > div.intro.activated { height: 600px; transition: height linear 300ms; }

	body > div.write { height: 0px; }
	body > div.write.activated { height: 500px; transition: height linear 360ms; }

	body > div.list_container { padding-top: 195px; }

	body       div.list.controls { position:absolute; top: 0; left: 0; right: 0; height: 195px; z-index: 1; }
	body.index div.list.controls { position:fixed; top: 75px; }

	/* HEADER */

	h1 { padding: 0px 20px; margin: 0; border-bottom: 1px solid black; height: 74px; }

	/* INTRO */

	div.intro p { margin: 20px 20px; }

	/* POST */

	div.write form {}

	div.write form {}

	div.write div.select.one.category { display:none; }

	/* LIST CONTROLS */

	div.list.controls div.sleeve { height: 195px; }
	div.list.controls div.rules {
		position: absolute;
		top: -1px; bottom: -1px; left: -20px; right: -20px;
		border-bottom: 1px solid hsl(0, 0%, 33%); border-top: 1px solid hsl(0, 0%, 33%);
	}

	nav.categories { position: absolute; right: 20px; top: 44px; bottom: 44px; left: 20px; border-bottom: 1px dotted black;  border-top: 1px dotted black; }
	nav.categories > * { width: 25%; height: 45px; }
	nav.categories a { text-indent: 15px; }
	nav.categories svg { position: absolute; height: 45px; width: 22px; top: 0; left: -1px; }

	nav.categories h4                   { left: 00%; top: 00px; }
	nav.categories a[href="comedy"]     { left: 25%; top: 00px; }
	nav.categories a[href="community"]  { left: 25%; top: 30px; }
	nav.categories a[href="dance"]      { left: 25%; top: 60px; }
	nav.categories a[href="film"]       { left: 50%; top: 00px; }
	nav.categories a[href="food"]       { left: 50%; top: 30px; }
	nav.categories a[href="literature"] { left: 50%; top: 60px; }
	nav.categories a[href="music"]      { left: 75%; top: 00px; }
	nav.categories a[href="theatre"]    { left: 75%; top: 30px; }
	nav.categories a[href="visual_art"] { left: 75%; top: 60px; }

	form.search { top: 0px; left: 20px; height: 45px; }

	nav.share { bottom: 0px; left: 20px; height: 45px; }

	nav.intro { bottom: 0px; right: 20px; height: 45px; }

	/* LIST VIEW */

	div.list_view { position: relative; }

	section.day h2 { height: 44px; border-top: 1px solid black; border-bottom: 1px solid black; margin: -1px 0 0; position: relative; text-align:center; }

	article { height: 74px; margin: -1px 20px 0; }

	article div.title_category_and_location { position: absolute; left: 0; top: 0; right: 0; height: 75px; }
	article div.title_category_and_location > div { position: absolute; height: 25px; }
	article div.title { left: 0; top: 12px; right: 0; text-indent: 20px; }
	article div.location { left: 0; bottom: 12px; right: 0; text-indent: 20px; }
	article div.category { left: 1px; top: 14px; }
	article div.category svg { height: 22px; width: 22px; display: block; margin: 0; position: absolute; }

	article div.time_and_cost { height: 75px; }
	article div.time_and_cost { position: absolute; right: 0;  top: 0; width: 90px; }
	article div.time_and_cost > div { position: absolute; height: 25px; }
	article div.time { right: 0; top: 12px; }
	article div.cost { right: 0; bottom: 12px; }
}
