@media screen and (min-width: 1200px) {
	body, div.sleeve { width: 1200px; margin: auto; }

	body, article, pre, textarea { font: 16px/30px "Artlist-Light";  }
	h1                  { font: 36px/98px "Artlist-Title"; letter-spacing: 1px; text-transform: uppercase; }
	h2                  { font: 16px/64px "Artlist-Demi"; letter-spacing: 1px; }
	h4                  { font: 14px/32px "Artlist-Demi"; letter-spacing: 1px; text-transform: uppercase; }
	article header      { font: 22px/64px "Artlist-Light"; }

	div.list.controls   { font: 14px/32px "Artlist-Demi"; letter-spacing: 1px; text-transform: uppercase; }
	input               { font: 14px/32px "Artlist-Demi"; letter-spacing: 1px; }
	button              { font: 15px/33px "Artlist-Demi"; letter-spacing: 1px; text-transform: uppercase; }

	article div.title, article div.time, article div.web_address { font-family: "Artlist-Medium"; }


	/* PAGE LAYOUT */

	body > header, div.header_block_in_flow { height: 90px; }

	body > div.intro { height: 0px; }
	body > div.intro.activated { height: 480px; transition: height ease-out 360ms; }

	body > div.write { height: 0px; }
	body > div.write.activated { height: 800px; transition: height ease-out 360ms; }

	body > div.list_container { padding-top: 180px; }

	div.list.controls { position: absolute; top: 0; left: 0; right: 0; height: 180px; z-index: 1; }
	body.index div.list.controls { position: fixed; top: 90px; }

	/* HEADER */

	h1 { margin: 0px -20px; padding: 0px 20px; border-bottom: 1px solid black; height: 89px; }

	/* INTRO */

	div.intro p { margin: 30px 0; width: 50%; }

	/* POST */

	div.write div.attribute > label { font: 22px/64px "Artlist-Medium"; display: block; position: absolute; box-sizing: border-box; height: 60px; width: 100%; }
	div.write div.attribute > input { font: 22px/64px "Artlist-Medium"; display: block; position: absolute; box-sizing: border-box; height: 60px; width: 100%; }
	div.write input:focus { outline: transparent; }
	div.write textarea:focus { outline: transparent; }

	div.write div.attribute	{ height: 59px; border-bottom: 1px dotted hsl(0, 0%, 33%); }
	div.write div.attribute > input {left: 0; right: 0; top: 0; text-indent: 100px; }

	div.write div.title       { width: 50%; }
	div.write div.cost        { position: absolute; left: 50%; right: 0; top: 0px; }
	div.write div.venue       { width: 50%; }
	div.write div.address     { position: absolute; left: 50%; right: 0; top: 60px; }
	div.write div.date        { width: 50%; }
	div.write div.start.time  { position: absolute; left: 50%; right: 0; top: 120px; }
	div.write div.select.one.category { height: 120px; }
	div.write div.description { height: auto; padding-bottom: 20px; }
	div.write div.web_address { height: auto; padding-bottom: 20px; }

	div.write div.title input { text-indent: 75px; }
	div.write div.venue input { text-indent: 75px; }
	div.write div.date input  { text-indent: 75px; }

	div.write div.description > label { position: relative; }
	div.write div.description > textarea { height: 120px; width: 75%; font: 16px/30px "Artlist-Light"; padding: 5px; display: block; border: 1px dotted hsl(0, 0%, 33%); box-sizing: border-box; background: transparent; }

	div.write div.web_address > label { position: relative; }
	div.write div.web_address > input { position: relative; height: 40px; font: 16px/30px "Artlist-Light"; text-indent: 0; width: 100%; padding: 5px; display: block; border: 1px dotted hsl(0, 0%, 33%); box-sizing: border-box; background: transparent; }



	div.write div.select > div.category { position:absolute; top:0; left: 0; width: 25%;  }
	div.write div.select > div.category label { position:absolute; font: 15px/33px "Artlist-Demi"; letter-spacing: 1px; text-transform: uppercase; height: 30px; top:0; left: 0; right: 20px; text-indent: 20px; display: block; }
	div.write div.select > div.category input { position:absolute; height: 20px; width: 20px; top:5px; left: 0px; margin: 0; }
	div.write div.select > div.category svg { position:absolute; top:0; display: none; }
	div.write div.select > div.comedy.category     { left: 25%; top: 15px; }
	div.write div.select > div.community.category  { left: 25%; top: 45px; }
	div.write div.select > div.dance.category      { left: 25%; top: 75px; }
	div.write div.select > div.film.category       { left: 50%; top: 15px; }
	div.write div.select > div.food.category       { left: 50%; top: 45px; }
	div.write div.select > div.literature.category { left: 50%; top: 75px; }
	div.write div.select > div.music.category      { left: 75%; top: 15px; }
	div.write div.select > div.theatre.category    { left: 75%; top: 45px; }
	div.write div.select > div.visual_art.category { left: 75%; top: 75px; }

	div.write div.commit	{ height: 59px; margin: -1px -30px 0px; border-top: 1px solid black; border-bottom: 1px solid black; }
	div.write div.commit button { position: absolute; top: 15px; height: 30px; padding: 0; left: 30px; }

	/* LIST CONTROLS */

	div.list.controls div.sleeve { height: 180px; }
	div.list.controls div.rules {
		position: absolute;
		top: -1px; bottom: -1px; left: -20px; right: -20px;
		border-bottom: 1px solid hsl(0, 0%, 33%); border-top: 1px solid hsl(0, 0%, 33%);
	}
	div.list.controls div.search { position: absolute; top: 15px; left: 0; width: 50%; }
	div.list.controls div.search input { padding: 0px 5px; }

	div.categories { position: absolute; right: 0; top: 15px; bottom: 15px; left: 50%; }
	div.categories > * { position: absolute; display:block; width: 50%; height: 30px; }
	div.categories label { position: absolute; display:block; text-indent: 15px; }
	div.categories h4                        { left: 0; top: 0px; }
	div.categories label.comedy     { left: 0; top: 30px; }
	div.categories label.community  { left: 0; top: 60px; }
	div.categories label.dance      { left: 0; top: 90px; }
	div.categories label.film       { left: 0; top: 120px; }
	div.categories label.food       { right: 0; top: 0px; }
	div.categories label.literature { right: 0; top: 30px; }
	div.categories label.music      { right: 0; top: 60px; }
	div.categories label.theatre    { right: 0; top: 90px; }
	div.categories label.visual_art { right: 0; top: 120px; }
	div.categories label svg { height: 20px; width: 20px; display: block; margin: 0; position: absolute; top: 5px; left: -5px; }
	div.categories label input { display: none; }


	nav.share { top: 45px; left: 0; }
	nav.intro { top: 75px; left: 0; }

	section.day h2 { height: 59px; border-top: 1px solid black; border-bottom: 1px solid black; margin: 0 -20px -1px; padding: 0px 20px; position: relative; }

	/* ARTICLE */

	article { overflow: hidden; margin: 0 0 -1px; position: relative; border-top: 1px dotted black; border-bottom: 1px dotted black; }
	article.compacted { height: 59px; }
	article.activated { height: auto; }

	article header { height: 60px; }
	article footer { height: 20px; }

	article div.description { margin: 0 25% 0 0; padding: 0 20px; }

	article div.web_address { position: absolute; right: 0; width: 25%; top: 60px; }
	article div.web_address a { text-decoration: underline; }

	article div.title_and_location { margin: 0 20px; left: 0; right: 25%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
	article div.title_and_location > div { display: inline; }
	article div.title { text-indent: 20px; }
	article div.location:before { content: "— "; }

	article div.time_and_cost { left: 75%; right: 0; white-space: nowrap; overflow: hidden; }
	article div.time_and_cost > div { display: inline; }
	article div.cost:before { content: "— "; }


}
