body.loading * { visibility: hidden; }

body > header { position: fixed; top: 0; left: 0; right: 0; z-index: 1; }
body > header nav > a { display: block; }
div.header_block_in_flow { background: black; }


div.write, div.intro { position: relative; box-sizing: border-box; overflow: hidden; }
div.list_container { position: relative; box-sizing: border-box; }

nav.categories { position: absolute; }
nav.categories > h4, nav.categories > a { position: absolute; }

nav.share { position: absolute; }
nav.intro { position: absolute; }

section.day h2 { position: relative; border-top: 1px solid black; border-bottom: 1px solid black; }

article { overflow: hidden; border-top: 1px dotted black; border-bottom: 1px dotted black; }

article div.title, article div.location, article div.cost, article div.time { white-space: nowrap; }

article div.category { position: absolute; left: -5px; top: 20px; height: 20px; }
article div.category svg { height: 20px; width: 20px; display: block; margin: 0; position: absolute; }

article div.title_and_location { position: absolute; left: 0; top: 0; }
article div.title_and_location > div { display: inline-block; }

article div.time_and_cost { position: absolute; right: 0; top: 0; }
article div.time_and_cost > div { display: inline-block; }

body > footer img { display:block; margin: auto; padding: 20px; }
