@media screen {
	body, div.sleeve { width: auto; margin: auto; }

	body, article               			 { font: 22px/30px "Artlist-Light"; }
	h1																 { font: 32px/80px "Artlist-Title"; letter-spacing: 1px; text-transform: uppercase; text-align: center; }
	h2																 { font: 15px/48px "Artlist-Demi"; letter-spacing: 1px; text-transform: uppercase; text-align: center; }
	article header										 { }
	section > p                        { font: 15px/30px "Artlist-Light"; }
	article .controls                  { font: 15px/30px "Artlist-Light"; }
	body > header nav									 { font: 15px/30px "Artlist-Demi"; letter-spacing: 1px; text-transform: uppercase; }
	div.list.controls div.search			 { font: 15px/48px "Artlist-Demi"; letter-spacing: 1px; text-transform: uppercase; }
	div.list.controls div.search input { font: 15px/48px "Artlist-Demi"; letter-spacing: 1px; text-transform: uppercase; }
	div.list.controls div.categories	 { font: 15px/33px "Artlist-Demi"; letter-spacing: 1px; text-transform: uppercase; }




	/*input							 { font: 16px/48px "Artlist-Demi"; letter-spacing: 1px; }
	button							{ font: 16px/48px "Artlist-Demi"; letter-spacing: 1px; text-transform: uppercase; }*/

	/* HEADER */

	body > header { position: fixed; top: 0; left: 0; right: 0; z-index: 1; }

	body > header, div.header_block_in_flow { height: 75px; }

	body > header h1 { padding: 0; margin: 0; border-bottom: 1px solid black; height: 74px; }

	body > header nav {}
	body > header nav > a { display: block; }
	body > header nav.intro { position: absolute; left: 20px; top: 20px; }
	body > header nav.share { position: absolute; right: 20px; top: 20px; }

	/* INTRO */

	div.intro { height: 0px; }
	div.intro.opening, div.intro.closing { transition: height linear; }
	div.intro div.read_intro { padding: 30px 20px; }
	div.intro div.read_intro p + p { margin-top: 20px; }

	/* WRITE */

	div.write form {}

	div.write { height: 0px; }
	div.write.activated { height: 600px; transition: height linear 360ms; }

	div.write div.select.one.category { display:none; }

	/* LIST */

	div.list_container { position: relative; box-sizing: border-box; }

	div.list_container { padding-top: 155px; } div.list.controls { height: 155px; }

	div.list.controls { left: 0; right: 0; z-index: 1; }

	body:not(.index) div.list.controls { position: absolute; top: 0; }
	body.index			 div.list.controls { position: fixed; top: 75px; }

	div.list.controls div.sleeve { border: 1px solid transparent; margin: -1px; height: 155px; }
	div.list.controls div.rules { position: absolute; top: -1px; bottom: -1px; left: 0; right: 0; border-bottom: 1px solid hsl(0, 0%, 33%); border-top: 1px solid hsl(0, 0%, 33%); }

	div.list.controls div.search { margin: 0 20px 0; height: 45px; }
	div.list.controls div.search label { position: absolute; top: 0; left: 0; right: 0; display: block; }
	div.list.controls div.search input { position: absolute; top: 0; left: 0; right: 0; display: block; width: 100%; padding: 0; text-indent: 75px; }

	div.list.controls hr { height: 0; display: block; border:none; margin: 0 20px 0; border-bottom: 1px dotted hsl(0, 0%, 0%); }

	div.list.controls div.categories { margin: 10px 20px; height: 90px; }
	div.list.controls div.categories > * { width: 25%; height: 30px; }
	div.list.controls div.categories label { position: absolute; display:block; text-indent: 15px; }
	div.list.controls div.categories svg { position: absolute; height: 20px; width: 20px; top: 5px; left: -5px; }
	div.list.controls div.categories label:first-child { left: 00%; top: 00px; text-indent: 0;}
	div.list.controls div.categories label.comedy		 { left: 25%; top: 00px; }
	div.list.controls div.categories label.community	{ left: 25%; top: 30px; }
	div.list.controls div.categories label.dance			{ left: 25%; top: 60px; }
	div.list.controls div.categories label.film			 { left: 50%; top: 00px; }
	div.list.controls div.categories label.food			 { left: 50%; top: 30px; }
	div.list.controls div.categories label.literature { left: 50%; top: 60px; }
	div.list.controls div.categories label.music			{ left: 75%; top: 00px; }
	div.list.controls div.categories label.theatre		{ left: 75%; top: 30px; }
	div.list.controls div.categories label.visual_art { left: 75%; top: 60px; }
	div.list.controls div.categories label input { display: none; }

	/* LIST */

	section > header { border-top: 1px solid black; border-bottom: 1px solid black; }
	section > header h2 { height: 44px;  position: relative; text-align:center; }
	section > header p { text-align:center; }

	/* ARTICLE */

	article { margin: 0; overflow: hidden; }
	article.compacted { height: 74px; }
	article.activated { height: auto; }
	article > div.box { margin: 0px 20px; }
	article header { height: 75px; border-top: 1px dotted black; }
	article div.title_and_venue { position: absolute; left: 20px; top: 0; right: 125px; height: 75px; }
	article div.title_and_venue > div { display: inline-block; position: absolute; height: 25px; }
	article div.title { left: 0; top: 12px; right: 0; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
	article div.venue { left: 0; bottom: 12px; right: 0; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
	article div.category.icon { position: absolute; left: -5px; top: 14px; }
	article div.category.icon svg { height: 22px; width: 22px; display: block; margin: 0; position: absolute; }
	article div.time { position: absolute; height: 25px; right: 0; top: 12px; min-width: 100px; text-align: right; }
	article div.cost { position: absolute; height: 25px; right: 0; bottom: 12px; min-width: 100px; text-align: right; }
	article div.description { padding: 0 20px; }
	article div.web_address { padding: 10px 20px; }
	article div.web_address a { text-decoration: underline; }
	article div.web_address div.code { font: 15px/20px; }

	article div.controls * { font: inherit; }
	article div.controls { margin: 10px 20px; }
 	article div.controls input   { font: 15px/20px; border: 1px solid hsla(0,0%,0%,0.2); padding: 3px 5px 0; height: 30px; border-radius: 0; }
	article div.controls select  { font: 15px/20px; border: 1px solid hsla(0,0%,0%,0.2); padding: 3px 5px 0; height: 30px; border-radius: 0; }
	article div.controls button  { font: 15px/20px; border: 1px solid hsla(0,0%,0%,0.3); padding: 1px 5px 0; height: 30px; border-radius: 0; }

	article div.controls div.web_address { padding: 0; }
	article div.controls div.web_address input { width: 100%; }

	article div.controls div.category { width: 50%; }
	article div.controls div.category select.one.category { width: 100%; }

	article div.controls div.date_and_time { width: 50%; }
	article div.controls div.date_and_time label {  }
	article div.controls div.date_and_time input[type=date] { width: 67%; }
	article div.controls div.date_and_time input[type=time] { width: 33%; position: absolute; right: 0;}

	article footer { height: 5px; }

	/* FOOTER */

	body > footer img { display:block; margin: auto; padding: 20px; }

	body > footer, body > footer * { font: 16px/22px "Artlist-Light"; }
	body > footer input { font-family: "Artlist-Bold"; }

	body > footer div.editor.controls { background: hsl(0, 0%, 88%); height: 0px; overflow: hidden;	}
	body > footer div.editor.controls.activated { height: 88px; }

	body				 > footer form.new.permit { height: 88px; margin-top: 0px; transition: margin-top 333ms ease-out; }
	body.editing > footer form.new.permit { margin-top: -88px; transition: margin-top 333ms ease-out; }

	body > footer label { display:block; padding: 22px; text-align: center; }
	body > footer input.secret_phrase { display: block; width: 400px; height: 28px; margin: 0 auto 0; text-align: center; padding: 4px 0; background: white; border: 1px solid hsla(0, 0%, 0%, 0.33); }
	body > footer input.secret_phrase:disabled { background: transparent; color: hsla(0, 0%, 0%, 0.33); }

	body > footer div.session { text-align: center; padding: 22px; }
	body > footer div.session a.exit { text-decoration: underline; cursor: pointer; }
}
