@font-face { font-family: Artlist-Medium; src: url(fonts/MaisonNeue-Medium.ttf); }
@font-face { font-family: Artlist-Light;  src: url(fonts/MaisonNeue-Light.ttf);  }
@font-face { font-family: Artlist-Bold;   src: url(fonts/MaisonNeue-Bold.ttf);   }
@font-face { font-family: Artlist-Demi;   src: url(fonts/MaisonNeue-Demi.ttf);   }
@font-face { font-family: Artlist-Mono;   src: url(fonts/MaisonNeue-Mono.ttf);   }

h1, h2, h3, h4, h5, h6, p, pre, button, input, select, textarea { font: inherit; }
button, input, select, textarea { box-sizing: border-box; -webkit-appearance: none; background: transparent; border: 0; padding: 0; margin: 0;  }
button { display: inline-block; }
body, header, footer, section, article, div, h1, h2, h3, h4, h5, h6, p, pre { margin: 0; padding: 0; position: relative; }
pre { display: block; white-space: pre-wrap; }

a[href] { text-decoration: none; }
a[href]:link, a[href]:visited { color: inherit; }

article div.title, article div.location, article div.cost, article div.time { white-space: nowrap; }



html, body > header, div.filter.controls div.position { background-image: url(images/background.png); }

body { font-family: "Artlist-Light"; }
h2, div.filter.controls { font-family: "Artlist-Demi"; text-transform: uppercase; letter-spacing: 1px; }
button, strong { font-family: "Artlist-Demi"; }

body { text-size-adjust: none; -webkit-text-size-adjust: none; }
body.loading * { visibility: hidden; }

/* Introduction */

div.intro > header { border-top: 1px solid #999; }

/* New Event Form */

section.post > header { border-top: 1px solid #999; }
section.post div.attribute label { display:block; position: relative; box-sizing: border-box; }
section.post div.string.attribute label { border-bottom: 1px dotted #999; }
section.post div.url.attribute label { border-bottom: 1px dotted #999; }
section.post textarea { display:block; border: 1px dotted #999; width: 100%; background: transparent; box-sizing: border-box; padding: 0; height:88px; outline-offset: 0px; }
section.post select.one.category { display:block; border: none; width: 100%; padding: 0; text-indent: 0; outline-offset: 0px; }
section.post input[type=string]  { display:block; width: 100%; outline-offset: 0px; }
section.post input[type=url]     { display:block; width: 100%; outline-offset: 0px; }
section.post button { font-family: "Artlist-Demi"; border: 1px solid #999; box-sizing: border-box; }
section.post strong { font-family: "Artlist-Demi"; }

/* Document Header */

body > header { position: fixed; top: 0; left: 0; right: 0; z-index: 2; overflow: hidden; }
body > header h1 { border-bottom: 1px solid #999; }

/* Info and Post buttons in the header */

body > header nav { position: absolute; }
body > header nav > a { display: block; }
body > header nav img.icon { border: 1px solid #999; box-sizing: border-box; display: block; }

/* Category Icons */

svg.category circle { stroke-width: 0; }
svg[alt="Comedy"] circle { fill: #F4E600; stroke: #F4E600; }
svg[alt="Community"] circle { fill: #943390; stroke: #943390; }
svg[alt="Dance"] circle { fill: #8FC442; stroke: #8FC442; }
svg[alt="Film"] circle { fill: #58AFE1; stroke: #58AFE1; }
svg[alt="Food"] circle { fill: #EE589C; stroke: #EE589C; }
svg[alt="Literature"] circle { fill: #2F449F; stroke: #2F449F; }
svg[alt="Music"] circle { fill: #E83E25; stroke: #E83E25; }
svg[alt="Theatre"] circle { fill: #F9A449; stroke: #F9A449; }
svg[alt="Visual Art"] circle { fill: #357034; stroke: #357034; }

/* Filter Controls */

div.filter.controls { z-index: 1;}
div.filter.controls div.categories { margin: 10px 20px; height: 90px; }
div.filter.controls div.categories > * { width: 25%; height: 30px; }
div.filter.controls div.categories label { position: absolute; display:block; text-indent: 15px; }
div.filter.controls div.categories svg { position: absolute; height: 20px; width: 20px; top: 5px; left: -5px; }
div.filter.controls div.categories label input { display: none; }

div.filter.controls label svg circle { transition: fill 300ms linear, stroke-width 150ms linear; stroke-width: 0; }
div.filter.controls label.excluded:not(:hover) svg circle { fill: #ccc; }
div.filter.controls label.excluded:hover svg circle { transition: stroke-width 150ms linear; }
div.filter.controls label.included svg circle { stroke-width: 5; }

/* Sections */

section > header {  }
section.day > header h2 { border-top: 1px solid #999; border-bottom: 1px solid #999;}
section.day > header h2 .month_and_date { color: #999; font-family: "Artlist-Light" }

/* Articles */

article { overflow: hidden; }
article header { color: hsl(0, 0%, 33%); }
article footer { position:absolute; bottom: 0; left: 0; right: 0; border-bottom: 1px dotted #999; }
article div.box { border-bottom: 1px dotted #999; }
article div.title, article div.time, article div.web_address a { font-family: "Artlist-Medium"; color: black; }
article div.web_address a { text-decoration: underline; }

/* Article Editing Controls */

body:not(.editing) article div.controls { display: none; }
article div.controls label { display:block; position: relative; box-sizing: border-box; }
article div.controls input { border: 1px solid #999; }
article div.controls select { border: 1px solid #999; }
article div.controls div.bucket_switches button { border: 1px solid #999; border-radius: 0; width: 33%; display: block; float:left; }
article div.controls div.bucket_switches button.publish { width: 34%; margin: 0px -1px; }

/* Pending Articles */

div.pending_articles { background: hsl(0, 0%, 88%);}
section.pending { border-top: 1px solid #999; }
section.pending > header { padding: 20px 0; }
section.pending > header h2 { font-family: "Artlist-Bold"; text-transform: uppercase; letter-spacing: 1px; line-height: 20px; }
section.pending > header p { line-height: 20px; line-height: 20px; }

/* Trashed Articles */

div.trashed_articles { background: hsl(0, 0%, 66%);}
section.trashed { border-top: 1px solid #999; }
section.trashed > header { padding: 20px 0; }
section.trashed > header h2 { font-family: "Artlist-Bold"; text-transform: uppercase; letter-spacing: 1px; line-height: 20px; }
section.trashed > header p { line-height: 20px; line-height: 20px; }

/* Document Footer */

body > footer div.box { border-top: 1px solid #999; }

body > footer img { display:block; margin: auto; padding: 12px; }
body > footer input { font-family: "Artlist-Bold"; }

body > footer div.editor.controls { background: hsl(0, 0%, 88%); height: 0px; overflow: hidden;  }
body > footer div.editor.controls.activated { height: 88px; }

body         > footer form.new.permit { height: 88px; margin-top: 0px; transition: margin-top 333ms ease-out; }
body.editing > footer form.new.permit { margin-top: -88px; transition: margin-top 333ms ease-out; }

body > footer label { display:block; padding: 22px; text-align: center; }
body > footer input.secret_phrase { display: block; width: 222px; height: 28px; margin: 0 auto 0; text-align: center; padding: 4px 0; background: white; border: 1px solid #999; }
body > footer input.secret_phrase:disabled { background: transparent; color: hsla(0, 0%, 0%, 0.33); }

body > footer div.session { text-align: center; padding: 22px; }
body > footer div.session a.exit { text-decoration: underline; cursor: pointer; }
