@media screen and (min-width: 1200px)  {
	div.sleeve, section { width: 1200px; margin: auto; }

	body { font: 15px/25px "Artlist-Light";	}
	article header, section.post input, section.post select { font-size: 22px; }
	h2, div.filter.controls { font-size: 14px; }
	section.post label { font-size: 12px; }

	/* HEADER */

	body > header, div.header_block_in_flow { height: 80px; }
	body > header h1 { padding: 20px; margin: 0px -20px; height: 80px; box-sizing: border-box; }
	body > header nav.intro { right: 0; top: 20px;}
	body > header nav.share { right: 44px; top: 20px;  }

	/* INTRODUCTION */

	section.intro { padding: 25px 0; }
	section.intro p { width: 75%; }
	section.intro p + p { margin-top: 10px; }

	/* POST AN EVENT */

	section.post { padding: 0 0; }
	section.post header { margin: 0px -30px; padding: 20px 30px 0; }
	section.post .attribute { height: 50px; }
	section.post .attribute label { height: 50px; line-height: 22px; }
	section.post .string.attribute input { position: absolute; bottom: 2px; line-height: 30px; height: 28px;}
	section.post .string.attribute select { position: absolute; bottom: 2px; line-height: 30px; height: 28px;}
	section.post .title.attribute { margin: 10px 50% 0px 0; }
	section.post .venue.attribute { margin: 10px 50% 0px 0; }
	section.post .address.attribute { margin: 10px 50% 0px 0; }
	section.post .date.attribute { width: 25%; margin: 10px 0 0; float:left; clear: left; }
	section.post .date.attribute label { margin-right: 30px; }
	section.post .time.attribute { width: 12.5%; float:left; margin: 10px 0 0; }
	section.post .category.attribute { width: 25%; margin: 10px 0 0; float:left; clear: left;}
	section.post .category.attribute label { margin-right: 30px; }
	section.post .cost.attribute { width: 12.5%; float:left; margin: 10px 0 0; }
	section.post .description.attribute { width: 75%; margin: 10px 0 0; float:left; clear: both; height: 120px; }
	section.post .description.attribute label { height: auto; }
	section.post .description.attribute textarea { font-size:initial; }
	section.post .web_address.attribute { width: 75%; clear: both; }
	section.post footer { height: 30px; line-height: 30px; margin: 20px 0; overflow: hidden; }
	section.post footer .commit { height: 30px; margin-top: 0; }
	section.post footer .synced { height: 30px; margin-top: 0; }
	section.post form.synced .commit { margin-top: -30px; transition: margin-top 200ms ease-in-out; }
	section.post button { padding: 0px 5px; height: 30px; }

	/* LIST CONTROLS */

	body.index div.filter.controls div.position { position: fixed; top: 80px; left: 0; right: 0; }
	body:not(.index) div.filter.controls div.position { position: relative; }

	div.filter.controls { height: 180px; }

	div.filter.controls div.sleeve { border: 1px solid transparent; margin: -1px auto; height: 180px; }
	div.filter.controls div.box { height: 180px; }
	div.filter.controls div.rules { position: absolute; top: -1px; bottom: -1px; left: -20px; right: -20px; border-bottom: 1px solid hsl(0, 0%, 33%); border-top: 1px solid hsl(0, 0%, 33%); }

	div.filter.controls div.search { position: absolute; top: 15px; left: 0; right: 50%; margin: 0 20px 0 0; height: 30px; line-height: 30px; }
	div.filter.controls div.search label { height: 30px; line-height: 32px; display: block; }
	div.filter.controls div.search input { text-indent: 70px; outline-offset: 2px; height: 30px; line-height: 31px; width: 100%; position: absolute; left: 0; right: 0;}

	div.filter.controls hr { display: none; }

	div.filter.controls div.categories { position: absolute; right: 0; top: 15px; bottom: 15px; left: 50%; margin: 0; }
	div.filter.controls div.categories > * { position: absolute; display:block; width: 50%; height: 30px; line-height: 32px; }
	div.filter.controls div.categories label { position: absolute; display:block; text-indent: 15px; }
	div.filter.controls div.categories label:first-child { left: 00%; top: 00px; text-indent: 0;}
	div.filter.controls div.categories label.comedy		 { left: 00%; top: 30px; }
	div.filter.controls div.categories label.community	{ left: 00%; top: 60px; }
	div.filter.controls div.categories label.dance			{ left: 00%; top: 90px; }
	div.filter.controls div.categories label.film			 { left: 00%; top: 120px; }
	div.filter.controls div.categories label.food			 { left: 50%; top: 0px; }
	div.filter.controls div.categories label.literature { left: 50%; top: 30px; }
	div.filter.controls div.categories label.music			{ left: 50%; top: 60px; }
	div.filter.controls div.categories label.theatre		{ left: 50%; top: 90px; }
	div.filter.controls div.categories label.visual_art { left: 50%; top: 120px; }
	div.filter.controls div.categories label svg { height: 20px; width: 20px; display: block; margin: 0; position: absolute; top: 5px; left: -5px; }
	div.filter.controls div.categories label input { display: none; }

	/* LIST */

	section.day > header h2 { margin: 0px -30px -1px; padding: 0px 30px; height: 60px; line-height: 62px; }

	/* Article */

	article { margin: 0 -30px; padding: 0 30px; position: relative; }
	article.compacted { height: 60px; }
	article.activated { height: auto; }

	/* Article Display */

	article div.display div.description { margin: 0 25% 0 0; padding: 0 20px; }
	article div.display div.web_address { position: absolute; right: 0; width: 25%; top: 60px; padding: 0; }
	article div.display div.web_address a { }
	article div.display { margin-bottom: 20px; }
	article header { height: 60px; line-height: 34px; border-top: 1px dotted black; }
	article div.title_and_venue { position: absolute; margin: 0 0 0 0; padding: 15px 20px; bottom: auto; top: 0; left: 0; right: 25%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
	article div.title_and_venue > div { display: inline; position: relative; top: auto; bottom: auto;	height: 25px; }
	article div.title { padding: 0; text-indent: 0; }
	article div.venue { padding: 0; text-indent: 0; }
	article div.venue:before { content: "— "; }
	article div.time { left: 75%; right: auto; top: 15px; bottom: auto; white-space: nowrap; overflow: hidden; }
	article div.cost { position: absolute; right: 0; top: 15px; bottom: auto; }
	article div.category.icon { position: absolute; left: -5px; top: 15px; }
	article div.category.icon svg { height: 20px; width: 20px; margin: 5px 0; display: block; position: absolute; }

	/* Article Controls */

  article div.controls { height: 60px; margin: 20px 0; }
  article div.controls input   {  border: 1px solid #999; padding: 3px 5px 0; height: 30px; border-radius: 0; }
  article div.controls select  {  border: 1px solid #999; padding: 3px 5px 0; height: 30px; border-radius: 0; }
  article div.controls div.web_address { bottom: 0; left: 300px; right: 25%; position:absolute; }
	article div.controls div.web_address label { margin-right: 20px; }
  article div.controls div.web_address input { width: 100%; }
  article div.controls div.category { left: 20px; bottom: 0; width: 120px; position:absolute;  }
  article div.controls div.category select.one.category { width: 100%; }
  article div.controls div.date { left: 160px; bottom: 0; width: 120px; position:absolute;  }
  article div.controls div.date input { width: 100%; }
	article div.controls div.bucket_switches { position: absolute; right: 0; left: 75%; bottom: 0; height: 30px; }
	article div.controls div.bucket_switches button  { border: 1px solid #999; padding: 1px 5px 0; height: 30px; border-radius: 0; width: 33%; display: block; float:left; }
	article div.controls div.bucket_switches button.publish { width: 34%; margin: 0px -1px; }

	/* Pending Articles */

	section.pending > header { padding: 20px 0 10px; }
	section.pending > header p { line-height: 20px; color: #666; }

	/* Trashed Articles */

	section.trashed > header { padding: 20px 0 10px; }
	section.trashed > header p { line-height: 20px; color: #666; }
}
