@media screen and (min-width: 600px) and (max-width: 1200px) {
  div.sleeve, section { width: auto; margin: 0 20px; }


  body                      { font: 15px/22px "Artlist-Light"; }

  h2, div.filter.controls { font-size: 14px; }

  article header,
  form.new.event input[type=string],
  form.new.event input[type=url],
  form.new.event textarea,
  form.new.event select {
    font: 22px/30px "Artlist-Light";
  }

  /*article .controls                  { font: 15px/30px "Artlist-Light"; }*/
  body > header nav                   { font: 15px/30px "Artlist-Demi"; letter-spacing: 1px; text-transform: uppercase; }
  /*div.filter.controls div.search       { font: 15px/48px "Artlist-Demi"; letter-spacing: 1px; text-transform: uppercase; }
  div.filter.controls div.search input { font: 15px/48px "Artlist-Demi"; letter-spacing: 1px; text-transform: uppercase; }
  div.filter.controls div.categories   { font: 15px/33px "Artlist-Demi"; letter-spacing: 1px; text-transform: uppercase; }*/

  /* HEADER */

  body > header, div.header_block_in_flow { height: 80px; }
  body > header h1 { padding: 20px 0; margin: 0px -20px; height: 80px; box-sizing: border-box; text-align: center; }
  body > header nav.intro { left: 0px; top: 20px; }
  body > header nav.share { right: 0px; top: 20px; }
  body > header nav img.icon { border: 1px solid hsla(0, 0%, 0%, 0.33); box-sizing: border-box; display: block; }

  /* INTRODUCTION */

  section.intro > header { padding: 22px 0 0; }
  section.intro h2 { position: absolute; }
  section.intro p { margin: 0px 0px 0px 25%;  }
  section.intro p + p { margin-top: 11px; }
  section.intro > footer { padding: 0 0 22px; }

  /* POST AN EVENT */

  section.post > header { padding: 22px 0 0; }
  section.post > header h2 { position: absolute; }
  section.post > header p { margin: 0px 0px 0px 25%;  }
  section.post > footer { padding: 0 0 22px; }
  section.post form { margin: 0px 0px 0px 25%;  }

  section.post label { font-size: 11px; }

  /*form.new.event div.attribute { margin: 12px; }*/
  form.new.event .date.attribute { width: 25%; float:left; }
  form.new.event .time.attribute { width: 25%; float:left; }
  form.new.event .cost.attribute { width: 25%; float:left; }
  form.new.event .category.attribute { clear:left; }

  form.new.event div.commit { padding: 20px 0; }
  form.new.event div.commit button { border: 1px solid black; }

  /* LIST */

  /*div.list_container { position: relative; box-sizing: border-box; }

  div.list_container { padding-top: 160px; } div.filter.controls { height: 160px; }

  div.filter.controls { left: 0; right: 0; }*/

  /*body:not(.index_hm) div.filter.controls { position: absolute; top: 0; }*/
  /*body.index       div.filter.controls { position: fixed; top: 80px; }*/

  div.filter.controls div.sleeve { border: 1px solid transparent; margin: -1px; height: 155px; }
  div.filter.controls div.rules { position: absolute; top: -1px; bottom: -1px; left: 0; right: 0; border-bottom: 1px solid hsl(0, 0%, 33%); border-top: 1px solid hsl(0, 0%, 33%); }

  div.filter.controls div.search { margin: 0 20px 0; height: 45px; line-height: 45px; }
  div.filter.controls div.search label { position: absolute; top: 0; left: 0; right: 0; display: block; }
  div.filter.controls div.search input { position: absolute; top: 0; left: 0; right: 0; display: block; width: 100%; padding: 0; text-indent: 75px; }

  div.filter.controls hr { height: 0; display: block; border:none; margin: 0 20px 0; border-bottom: 1px dotted hsl(0, 0%, 0%); }

  div.filter.controls div.categories { margin: 10px 20px; height: 90px; }
  div.filter.controls div.categories > * { width: 25%; height: 30px; line-height: 32px; }
  div.filter.controls div.categories label { position: absolute; display:block; text-indent: 15px; }
  div.filter.controls div.categories svg { position: absolute; height: 20px; width: 20px; top: 5px; left: -5px; }
  div.filter.controls div.categories label:first-child { left: 00%; top: 00px; text-indent: 0;}
  div.filter.controls div.categories label.comedy     { left: 25%; top: 00px; }
  div.filter.controls div.categories label.community  { left: 25%; top: 30px; }
  div.filter.controls div.categories label.dance      { left: 25%; top: 60px; }
  div.filter.controls div.categories label.film       { left: 50%; top: 00px; }
  div.filter.controls div.categories label.food       { left: 50%; top: 30px; }
  div.filter.controls div.categories label.literature { left: 50%; top: 60px; }
  div.filter.controls div.categories label.music      { left: 75%; top: 00px; }
  div.filter.controls div.categories label.theatre    { left: 75%; top: 30px; }
  div.filter.controls div.categories label.visual_art { left: 75%; top: 60px; }
  div.filter.controls div.categories label input { display: none; }

  /* LIST */

  section.day h2 { height: 44px; line-height: 44px; padding: 0px 20px; margin: 0px -20px; }


  section.day h2 .day_of_week { position: absolute; left: 33%; right: 33%; text-align: center;  }
  /*section.day h2 .month_and_date { position: absolute; left: 0; top: 0; }*/


  /* ARTICLE */

  article { overflow: hidden; }
  article.compacted { height: 74px; }
  article.activated { height: auto; }
  article header { height: 75px; border-top: 1px dotted black; }
  article div.title_and_venue { position: absolute; left: 20px; top: 0; right: 125px; height: 75px; }
  article div.title_and_venue > div { display: inline-block; position: absolute; height: 25px; }
  article div.title { left: 0; top: 12px; right: 0; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
  article div.venue { left: 0; bottom: 12px; right: 0; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
  article div.category.icon { position: absolute; left: -5px; top: 14px; }
  article div.category.icon svg { height: 22px; width: 22px; display: block; margin: 0; position: absolute; }
  article div.time { position: absolute; height: 25px; right: 0; top: 12px; min-width: 100px; text-align: right; }
  article div.cost { position: absolute; height: 25px; right: 0; bottom: 12px; min-width: 100px; text-align: right; }
  article div.description { padding: 0 20px; }
  article div.web_address { padding: 10px 20px; }
  article div.web_address a { text-decoration: underline; }
  article div.web_address div.code { font: 15px/20px; }

  article div.controls * { font: inherit; }
  article div.controls { margin: 10px 20px; }
  article div.controls input   { font: 15px/20px; border: 1px solid hsla(0,0%,0%,0.2); padding: 3px 5px 0; height: 30px; border-radius: 0; }
  article div.controls select  { font: 15px/20px; border: 1px solid hsla(0,0%,0%,0.2); padding: 3px 5px 0; height: 30px; border-radius: 0; }
  article div.controls button  { font: 15px/20px; border: 1px solid hsla(0,0%,0%,0.3); padding: 1px 5px 0; height: 30px; border-radius: 0; }

  article div.controls div.web_address { padding: 0; }
  article div.controls div.web_address input { width: 100%; }

  article div.controls div.category { width: 50%; }
  article div.controls div.category select.one.category { width: 100%; }

  article div.controls div.date_and_time { width: 50%; }
  article div.controls div.date_and_time label {  }
  article div.controls div.date_and_time input[type=date] { width: 67%; }
  article div.controls div.date_and_time input[type=time] { width: 33%; position: absolute; right: 0;}

  body:not(.editing) article footer { height: 5px; }

	/* Pending Articles */

	section.pending > header { padding: 20px 0 10px; }
	section.pending > header h2 { font-family: "Artlist-Bold"; text-transform: uppercase; letter-spacing: 1px; line-height: 20px; }
	section.pending > header p { line-height: 20px; color: #666; }

	/* Trashed Articles */

	section.trashed > header { padding: 20px 0 10px; }
	section.trashed > header h2 { font-family: "Artlist-Bold"; text-transform: uppercase; letter-spacing: 1px; line-height: 20px; }
	section.trashed > header p { line-height: 20px; color: #666; }

}
