<div class="web_address">
  <label>
    Event URL
    <input type="url" value="<%= @article.get('web_address') %>" placeholder="https://example.org/special-event-page">
  </label>
</div>

<div class="category">
  <label>
    Re-categorize
    <select class="one category">
      <option <%= "selected" if @article.get('category') is "Comedy" %>>Comedy</option>
      <option <%= "selected" if @article.get('category') is "Community" %>>Community</option>
      <option <%= "selected" if @article.get('category') is "Dance" %>>Dance</option>
      <option <%= "selected" if @article.get('category') is "Film" %>>Film</option>
      <option <%= "selected" if @article.get('category') is "Food" %>>Food</option>
      <option <%= "selected" if @article.get('category') is "Literature" %>>Literature</option>
      <option <%= "selected" if @article.get('category') is "Music" %>>Music</option>
      <option <%= "selected" if @article.get('category') is "Theatre" %>>Theatre</option>
      <option <%= "selected" if @article.get('category') is "Visual Art" %>>Visual Art</option>
    </select>
  </label>
</div>

<div class="date">
  <label>
    Change the Date
    <input type="string" value="<%= @article.get('date') %>">
  </label>
</div>

<div class="bucket_switches">
  <button class="pending" <%- "disabled" if @article.isPending() %>>Pending</button>
  <button class="publish" <%- "disabled" if @article.isPublished() %>>Publish</button>
  <button class="trash" <%- "disabled" if @article.isTrash() %>>Trash</button>
</div>
