<section class="day">
  <h2><strong><%= @moment("#{@date}", "YYYY-MM-DD").format("dddd") %></strong>, <%= @moment("#{@date}", "YYYY-MM-DD").format("MMM D") %></h2>
  <% for article in @articles: %>
    <article class="compacted" id="<%= article.id %>"><div class="box">
      <header>
        <div class="category"><svg alt="<%= article.category %>" class="category" viewbox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle r="5" cx="10" cy="10"></svg></div>
        <div class="title_and_location">
          <div class="title" contenteditable="false"><%= article.title %></div>
          <div class="location"><%= article.venue %> (<%= article.address %>)</div>
        </div>
        <div class="time_and_cost">
          <div class="time" contenteditable="false"><%= @moment("#{article.date} #{article.start_time}", "YYYY-MM-DD hh:mm").format("h:mmA") %></div>
          <div class="cost" contenteditable="false"><%= article.cost %></div>
        </div>
      </header>
      <div class="description">
        <pre contenteditable="false"><%= article.description %></pre>
      </div>
      <div class="web_address">
        <a href="<%= article.web_address %>" target="<%= article.id %>">Go to event page →</a>
      </div>
      <footer>
      </footer>
    </div></article>
  <% end %>
</section>
