<!DOCTYPE HTML>
<title>THE ARTLIST</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
<link rel="icon" type="image/ico" href="assets/favicon.ico">
<link rel="stylesheet" href="assets/typefaces.css">
<link rel="stylesheet" href="assets/init.css">
<link rel="stylesheet" href="assets/animations.css">
<link rel="stylesheet" href="assets/colour.css">
<link rel="stylesheet" href="assets/basic_layout.css">
<link rel="stylesheet" href="assets/pocketsize_layout.css">
<link rel="stylesheet" href="assets/widescreen_layout.css">
<script src="assets/bundle.js"></script>
<script src="index.json.js"></script>
<body class="loading" data-permit-id="<%= @permitIdentifier %>">
  <%- @render "header" %>
  <%- @render "intro" %>
  <%- @render "write" %>
  <div class="list_container"><div class="list controls"></div></div>
  <div class="current_articles"></div>
  <%- @render "footer" %>
  <div class="pending_articles"></div>
  <div class="trashed_articles"></div>
</body>
