<!DOCTYPE HTML>
<title>THE ARTLIST</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
<link rel="icon" type="image/ico" href="assets/favicon.ico">
<link rel="stylesheet" href="assets/animations.css">
<link rel="stylesheet" href="assets/elements.css">
<link rel="stylesheet" href="assets/layout_for_book_size_screens.css">
<link rel="stylesheet" href="assets/layout_for_large_size_screens.css">
<link rel="stylesheet" href="assets/layout_for_pocket_size_screens.css">
<script src="assets/bundle.js"></script>
<script src="index.json.js"></script>
<body class="loading" data-permit-id="<%= @permit?.id %>">
  <%- @render "header" %>
  <div class="intro" hidden><%- @render "intro" %></div>
  <div class="post" hidden></div>
  <div class="current_articles"><div class="filter controls"></div></div>
  <div class="pending_articles"></div>
  <div class="trashed_articles"></div>
  <footer><%- @render "footer" %></footer>
</body>
