<header><div class="sleeve">
  <h1><a href="index.html">THE ARTLIST</a></h1>
  <div class="controls">
    <div class="rules"></div>
    <nav class="categories">
      <h4>Categories</h4>
      <a href="comedy.html">Comedy <svg alt="Comedy" class="category" viewbox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle r="5" cx="5" cy="10"></svg></a>
      <a href="community.html">Community <svg alt="Community" class="category" viewbox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle r="5" cx="5" cy="10"></svg></a>
      <a href="dance.html">Dance <svg alt="Dance" class="category" viewbox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle r="5" cx="5" cy="10"></svg></a>
      <a href="film.html">Film <svg alt="Film" class="category" viewbox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle r="5" cx="5" cy="10"></svg></a>
      <a href="food.html">Food <svg alt="Food" class="category" viewbox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle r="5" cx="5" cy="10"></svg></a>
      <a href="literature.html">Literature <svg alt="Literature" class="category" viewbox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle r="5" cx="5" cy="10"></svg></a>
      <a href="music.html">Music <svg alt="Music" class="category" viewbox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle r="5" cx="5" cy="10"></svg></a>
      <a href="theatre.html">Theatre <svg alt="Theatre" class="category" viewbox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle r="5" cx="5" cy="10"></svg></a>
      <a href="visual_art.html">Visual Art <svg alt="Visual Art" class="category" viewbox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle r="5" cx="5" cy="10"></svg></a>
    </nav>
    <form class="search">
      <input placeholder="Search:" disabled>
    </form>
    <nav class="share">
      <a href="">Share Your Event</a>
    </nav>
    <nav class="info">
      <a href="">Information</a>
    </nav>
  </div>
</div></header>
