<div class="sleeve">
  <div class="rules"></div>
  <div class="search">
    <label>Search: <input placeholder="" name="query" value="<%= @query %>"></label>
  </div>
  <div class="categories">
    <h4>Categories:</h4>
    <label class="comedy">Comedy <input type="checkbox" name="categories[]" value="Comedy"> <svg alt="Comedy" class="category" viewbox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle r="5" cx="10" cy="10"></svg></label>
    <label class="community">Community <input type="checkbox" name="categories[]" value="Community"> <svg alt="Community" class="category" viewbox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle r="5" cx="10" cy="10"></svg></label>
    <label class="dance">Dance <input type="checkbox" name="categories[]" value="Dance"> <svg alt="Dance" class="category" viewbox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle r="5" cx="10" cy="10"></svg></label>
    <label class="film">Film <input type="checkbox" name="categories[]" value="Film"> <svg alt="Film" class="category" viewbox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle r="5" cx="10" cy="10"></svg></label>
    <label class="food">Food <input type="checkbox" name="categories[]" value="Food"> <svg alt="Food" class="category" viewbox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle r="5" cx="10" cy="10"></svg></label>
    <label class="literature">Literature <input type="checkbox" name="categories[]" value="Literature"> <svg alt="Literature" class="category" viewbox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle r="5" cx="10" cy="10"></svg></label>
    <label class="music">Music <input type="checkbox" name="categories[]" value="Music"> <svg alt="Music" class="category" viewbox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle r="5" cx="10" cy="10"></svg></label>
    <label class="theatre">Theatre <input type="checkbox" name="categories[]" value="Theatre"> <svg alt="Theatre" class="category" viewbox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle r="5" cx="10" cy="10"></svg></label>
    <label class="visual_art">Visual Art <input type="checkbox" name="categories[]" value="Visual Art"> <svg alt="Visual Art" class="category" viewbox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle r="5" cx="10" cy="10"></svg></label>
  </div>
</div>
