<section class="post">
  <header>
    <h2>Post An Event</h2>
    <p>
      Fill in the following form to post an event to THE ARTLIST.
      We’ll review your event shortly and publish it if it is suitable.
    </p>
  </header>

  <form class="new event">
    <div class="title string attribute">
      <label>Event Title: <input type="string" name="title" value="<%= @article.title %>" placeholder="Little Big Show"></label>
    </div>

    <div class="venue_name string attribute">
      <label>Venue: <input type="string" name="venue_name" value="<%= @article.venue %>" placeholder="The Teeney Tiny Theatre"></label>
    </div>

    <div class="venue_address string attribute">
      <label>Address: <input type="string" name="venue_address" value="<%= @article.address %>" placeholder="123 Small Street"></label>
    </div>

    <div class="date string attribute">
      <label>Date: <input type="string" name="date" value="<%= @article.date %>"></label>
    </div>

    <div class="time string attribute">
      <label>Time: <input type="string" name="time" value="<%= @formatModelTimeForInput @article.time %>"></label>
    </div>

    <div class="category string attribute">
      <label>Category:
        <select class="one category" name="category">
          <option >Comedy</option>
          <option >Community</option>
          <option >Dance</option>
          <option >Film</option>
          <option >Food</option>
          <option >Literature</option>
          <option >Music</option>
          <option >Theatre</option>
          <option >Visual Art</option>
        </select>
      </label>
    </div>

    <div class="cost string attribute">
      <label>Cost: <input type="string" name="cost" value="<%= @article.cost %>" placeholder="Free"></label>
    </div>

    <div class="description text attribute">
      <label>Description: <textarea name="description"></textarea></label>
    </div>

    <div class="web_address url attribute">
      <label>Event URL: <input name="web_address" type="url" placeholder="https://example.com/"></label>
    </div>

    <footer>
      <div class="commit controls">
        <button>Post <%- if @hasPostedAnArticle then "another" else "this" %> Event</button> to THE ARTLIST
      </div>

      <div class="synced message">
        <strong>Thanks for sending us this event!</strong> It should appear on THE ARTLIST in a few hours.
      </div>
    </footer>
  </form>
</section>
