<%- @render "head", title: "Post your event to THE ARTLIST" %>
<body class="share">

<header>
  <h1><a href="index.html">THE ARTLIST</a>: Share Your Event</h1>
</header>

<form class="post_an_event" method="post" >
  <div class="title attribute">
    <label>Title:</label>
    <input name="event[title]">
  </div>
  <div class="venue attribute">
    <label>Venue:</label>
    <input name="event[venue]">
  </div>
  <div class="address attribute">
    <label>Address:</label>
    <input name="event[address]">
  </div>
  <div class="date attribute">
    <label>Date:</label>
    <input name="event[date]">
  </div>
  <div class="start_time attribute">
    <label>Starts at:</label>
    <input name="event[cost]">
  </div>
  <div class="select one category attribute">
    <label>Category:</label>
    <div class="comedy category deactivated">
      <label>Comedy <input type="radio" value="comedy" name="event[category]"></label>
      <svg alt="Comedy" class="category" viewbox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle r="5" cx="5" cy="10"></svg>
    </div>
    <div class="community category deactivated">
      <label>Community <input type="radio" value="community" name="event[category]"></label>
      <svg alt="Community" class="category" viewbox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle r="5" cx="5" cy="10"></svg>
    </div>
    <div class="dance category deactivated">
      <label>Dance <input type="radio" value="dance" name="event[category]"></label>
      <svg alt="Dance" class="category" viewbox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle r="5" cx="5" cy="10"></svg>
    </div>
    <div class="film category deactivated">
      <label>Film <input type="radio" value="film" name="event[category]"></label>
      <svg alt="Film" class="category" viewbox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle r="5" cx="5" cy="10"></svg>
    </div>
    <div class="food category deactivated">
      <label>Food <input type="radio" value="food"  name="event[category]"></label>
      <svg alt="Food" class="category" viewbox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle r="5" cx="5" cy="10"></svg>
    </div>
    <div class="literature category deactivated">
      <label>Literature <input type="radio" value="comedy" name="event[category]"></label>
      <svg alt="Literature" class="category" viewbox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle r="5" cx="5" cy="10"></svg>
    </div>
    <div class="music category deactivated">
      <label>Music <input type="radio" value="comedy" name="event[category]"></label>
      <svg alt="Music" class="category" viewbox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle r="5" cx="5" cy="10"></svg>
    </div>
    <div class="theatre category deactivated">
      <label>Theatre <input type="radio" value="comedy" name="event[category]"></label>
      <svg alt="Theatre" class="category" viewbox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle r="5" cx="5" cy="10"></svg>
    </div>
    <div class="visual_art category deactivated">
      <label>Visual Art <input type="radio" value="comedy" name="event[category]"></label>
      <svg alt="Visual Art" class="category" viewbox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle r="5" cx="5" cy="10"></svg>
    </div>
  </div>

  <div class="web_url attribute">
    <label>Link to event page:</label>
    <input name="event[web_url]">
  </div>
  <!-- <div class="cost attribute">
    <label>Cost:</label>
    <input name="event[cost]">
  <div> -->
  <div class="commit">
    <button>SUBMIT</button>
  </div>
</form>

</body>
