<form>
  <div class="title string attribute">
    <label>Title:</label>
    <input name="title" value="<%= @article.title %>">
  </div>
  <div class="cost attribute">
    <label>Cost:</label>
    <input name="cost" value="<%= @article.cost %>">
  </div>
  <div class="venue string attribute">
    <label>Venue:</label>
    <input name="venue" value="<%= @article.venue %>">
  </div>
  <div class="address string attribute">
    <label>Address:</label>
    <input name="address" value="<%= @article.address %>">
  </div>
  <div class="date string attribute">
    <label>Date:</label>
    <input name="date" value="<%= @article.date %>">
  </div>
  <div class="start time attribute">
    <label>Starts at:</label>
    <input name="start_time" value="<%= @formatModelTimeForInput @article.start_time %>">
  </div>
  <div class="end time attribute" hidden>
    <label>Starts at:</label>
    <input name="end_time" value="">
  </div>
    <div class="select one category attribute">
      <label>Category:</label>
      <div class="comedy category deactivated">
        <label>Comedy <input type="radio" value="comedy" name="category"></label>
        <svg alt="Comedy" class="category" viewbox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle r="5" cx="5" cy="10"></svg>
      </div>
      <div class="community category deactivated">
        <label>Community <input type="radio" value="community" name="category"></label>
        <svg alt="Community" class="category" viewbox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle r="5" cx="5" cy="10"></svg>
      </div>
      <div class="dance category deactivated">
        <label>Dance <input type="radio" value="dance" name="category"></label>
        <svg alt="Dance" class="category" viewbox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle r="5" cx="5" cy="10"></svg>
      </div>
      <div class="film category deactivated">
        <label>Film <input type="radio" value="film" name="category"></label>
        <svg alt="Film" class="category" viewbox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle r="5" cx="5" cy="10"></svg>
      </div>
      <div class="food category deactivated">
        <label>Food <input type="radio" value="food"  name="category"></label>
        <svg alt="Food" class="category" viewbox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle r="5" cx="5" cy="10"></svg>
      </div>
      <div class="literature category deactivated">
        <label>Literature <input type="radio" value="comedy" name="category"></label>
        <svg alt="Literature" class="category" viewbox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle r="5" cx="5" cy="10"></svg>
      </div>
      <div class="music category deactivated">
        <label>Music <input type="radio" value="comedy" name="category"></label>
        <svg alt="Music" class="category" viewbox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle r="5" cx="5" cy="10"></svg>
      </div>
      <div class="theatre category deactivated">
        <label>Theatre <input type="radio" value="comedy" name="category"></label>
        <svg alt="Theatre" class="category" viewbox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle r="5" cx="5" cy="10"></svg>
      </div>
      <div class="visual_art category deactivated">
        <label>Visual Art <input type="radio" value="comedy" name="category"></label>
        <svg alt="Visual Art" class="category" viewbox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle r="5" cx="5" cy="10"></svg>
      </div>
    </div>

  <div class="description attribute">
    <label>Description:</label>
    <textarea name="description"></textarea>
  </div>
  <div class="web_address attribute">
    <label>Link to event page:</label>
    <input name="web_address" type="url">
  </div>
  <div class="commit">
    <button>Submit</button>
  </div>
</form>
